
@{
    ViewData["Title"] = "Search";
}

<div>
    <h1 class="elementInTheCenter">Search</h1>

    <form class="input-group" method="post">
        <div class="input-group-prepend">
            <span class="input-group-text">URL:</span>
        </div>
        <input type="url" class="form-control" name="Url" placeholder="https://www.example.com/" />
        <button id="searchButton" class="btn btn-success" UseSubmitBehavior = "false" type="submit" onclick="CallLoadingAnimation()">Start Crawler</button>
    </form>
    <div id="loading"></div>

</div>




