
@{
    ViewData["Title"] = "Tests";
}

<h1 class="elementInTheCenter">Tests</h1>

<div>
    <table class="table table-striped table-bordered table-active">

        <thead class="thead-dark">
            <tr>
                <th>№</th>
                <th>Url</th>
                <th>Test Date Time</th>
                <th>Id</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr class="table-row" href="/Home/TestData?testId=@item.Id" onclick="redirect(this)">
                <td >#</td>
                <td>@item.UserLink</td>
                <td>@item.TestDateTime</td>
                <td>@item.Id</td>
            </tr>
        }
        <script>
            function redirect(obj) {
                let url = obj.getAttribute("href");
                console.log(url);
                window.location.href = url;
            }
        </script>
    </table>
</div>

