
@{
    ViewData["Title"] = "TestData";
}

<div>
    <h1 class="elementInTheCenter">TestData</h1>
    <table class="table table-striped table-bordered table-active">

        <thead class="thead-dark">
            <tr>
                <th>Url</th>
                <th>FromSitemap</th>
                <th>FromHtml</th>
                <th>ElapsedMilliseconds</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Url</td>
                <td>@item.FromSitemap</td>
                <td>@item.FromHtml</td>
                <td>@item.ElapsedMilliseconds</td>
            </tr>
        }
    </table>
</div>
