
@{
    ViewData["Title"] = "TestData";
}
@model WebCrawler.WebApplication.ViewModels.LinksPageViewModel

<div class="page-container">
    <div class="container">
        <h3 class="elementInTheCenter">@Model.Url</h3>
        <br />

        @await Html.PartialAsync("~/Views/Partial/_GetUrlTable.cshtml", new { Title = "URLs NOT FOUND AT WEBSITE", UrlList = Model.Links.Where(x=>!x.FromHtml && x.FromSitemap) })
        @await Html.PartialAsync("~/Views/Partial/_GetUrlTable.cshtml", new { Title = "URLs NOT FOUND AT SITEMAP", UrlList = Model.Links.Where(x => x.FromHtml && !x.FromSitemap) })

        <h3 class="elementInTheCenter">PERFOMANCE</h3>
        <table class="table table-striped table-bordered table-active">

            <thead class="thead-dark">
                <tr>
                    <th>Url</th>
                    <th>Elapsed Milliseconds</th>
                </tr>
            </thead>

            @foreach (var item in Model.Links)
            {
                <tr>
                    <td>@item.Url</td>
                    <td>@item.ElapsedMilliseconds</td>
                </tr>
            }
        </table>
    </div>

</div>