.bigFontSize {
    font-size: 30px;
}

.elementInTheCenter {
    text-align:center;
    margin-left : auto;
    margin-right : auto;
    display:block;
}
.table-row {
    cursor: pointer;
}
.tblContent {
    margin-bottom: 50%;
}
.mx-10 {
    margin-left: 10px; 
    margin-right: 10px;
}
.disabled-link {
    pointer-events: none;
    cursor: default;
}